*{
	margin: 0;
	padding: 0;
}

.header{
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../png/background_image3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 20px;

}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width:  150px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size = 20px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcome img{
	margin-top: 50px;
	height: 300px;
	
}

.header p{
	font-size: 25px;
	margin: 50px 200px;
}

.header h1{
	font-size: 50px;
	animation: text 2s 1;
}

@keyframes text{
	0%{
		color: black;
		margin-bottom: -10px;
	}
	25%{ 
		letter-spacing: 15px;
		margin-bottom: -40px;
	}
	75%{
		letter-spacing: 8px;
		margin-bottom: -10px;
	}
		
}
/*------profile page-------*/

.sub-header{
	height: 400vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../png/background_image3.jpg);
	background-position: center;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.sub-header h1{
	font-size: 50px;
	animation: text 2s 1;
}

.biography h1 {
	animation: none;
}

.profile img{
	width:300px;
}

.profile p{
	font-size: 40px;
	color: #fff;
	margin-top: 15px;
}

.biography h1{
	font-size: 60px;
	margin-top: 50px;
	
}

.biography p{
	margin-top: 25px;
}

.resume h1{
	margin-top: 225px;
	animation: none;
}

.resume p{
	font-size: 30px;
	margin-top: 20px;
	
}

.resume embed{
	margin-top: 50px;
}

/*----------contact page-----------*/

.sub-header2{
	height: 100vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../png/background_image3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 20px;

}

.sub-header2 h1{
	font-size: 50px;
	animation: text 2s 1;
}
.icons ul{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	margin: 0;
	transform: translate(-50%, -50%);
	display: flex;
}

.icons ul li{
	list-style: none;
	margin: 0 65px;
}

.icons ul li .fa-facebook-f{
	font-size: 60px;
	line-height: 80px;
	transition: 0.6s;
	color: #3b5998
}

.icons ul li .fa-instagram{
	font-size: 60px;
	line-height: 80px;
	transition: 0.6s;
	color: #8a3ab9
}

.icons ul li .fa-linkedin{
	font-size: 60px;
	line-height: 80px;
	transition: 0.6s;
	color: #0077b5
}

.icons ul li .fa-envelope{
	font-size: 60px;
	line-height: 80px;
	transition: 0.6s;
	color: #000;
}

.icons ul li a{
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 80%;
	background-color: #fff;
	text-align: center;
	transition: 0.6s;
}
.icons ul li a:hover{
	transform: translate(0,-20px);
}	

.icon_names p{
	font-size: 30px;
	display: inline-block;
	margin: 300px 50px;   
	position: relative;	
}

/*--------project--------------*/


.sub-header3{
	height: 500vh;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../png/background_image3.jpg);
	background-position: center;
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.sub-header3 h1{
	font-size: 50px;
	animation: text 2s 1;
}

.maze_project h1{
	font-size: 40px;
	margin-top: 100px;
	animation: none;
}

.maze_project img{
	margin-top: 60px;
}

.maze_project p{
	margin: 30px 250px;
	color: #fff;
}

.maze_project p a{
	color:#fff;
	font-size: 30px;
}

.maze_project a:hover{
	color: 	#FFA500;
}

.selfdriving h1{
	font-size: 40px;
	margin-top: 200px;
	animation: none;
}

.selfdriving img{
	margin-top: 60px;
}

.selfdriving p{
	margin: 30px 250px;
	color: #fff;
}

.selfdriving p a{
	color:#fff;
	font-size: 30px;
}

.game h1{
	font-size: 40px;
	margin-top: 200px;
	animation: none;
}

.game img{
	margin-top: 60px;
	width: 500px;
}

.game p{
	margin: 30px 250px;
	color: #fff;
}

.game p a{
	color:#fff;
	font-size: 30px;
}

.coffee h1{
	font-size: 40px;
	margin-top: 200px;
	animation: none;
}

.coffee img{
	margin-top: 60px;
	width: 500px;
}

.coffee p{
	margin: 30px 250px;
	color: #fff;
}

.coffee p a{
	color:#fff;
	font-size: 30px;
}